@import "compass";
@import "compass/css3";

@font-face {
  src: url("Ubuntu-Regular.ttf");
  font-family: "Ubuntu";
}

body {
  background: #000000;

  color: #ededed;

  font-family: "Ubuntu";

  overflow: hidden;

  position: absolute;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  width:  100%;
  height: 100%;
}

.content {
  position: absolute;

  top: 0px;
  left: 0px;

  width:  100%;
  height: 100%;

  display: table;
}

.center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.center.video {
  position: relative;
}

.center.video > video {
  width:  100%;
}

.content > .img > * {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;

  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;
}

#i {
  background-image: url('../content/i.png');
}

#text {
  font-size: 120px;
}

#text div {
  display: inline-block;
}

#text .word {
  white-space:nowrap;
}

#credits {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;

  color: rgba(226, 107, 24, 1);

  p {
    margin: 0;
  }
}

.emoroco-text {
  font-size: 120px;
  margin: 0px;
}

.emoroco-text.transition {
  @include transition(top 2s, left 2s, opacity 1s, font 1s);
}