<div class="control-group" data-shortcut="<%= shortcut %>">
  <h3 class="group-header">Alphabet</h3>

  <form class="form-inline">
    <input id="set-start-alphabet" class="disable-shortcuts" type="text" autocomplete="off" />

    <a id="controls-show-hide-alphabet" class="btn">Show Alphabet</a>
  </form>

  <p>
    <a id="controls-next-alphabet" class="btn">Next</a>
  </p>
</div>