<div class="control-group" data-shortcut="<%= shortcut %>">
  <h3 class="group-header">Credits</h3>

  <p>
    <a data-shortcut="q" id="controls-roll-credits" class="btn">Roll Credits</a>
    <a data-shortcut="w" id="controls-hide-credits" class="btn">Hide Credits</a>
  </p>

  <textarea id="credits-editor" class="disable-shortcuts"></textarea>
</div>