<div class="emoroco-group control-group">
  <h3 class="group-header">Emoroco</h3>

  <p>
    <a id="emoroco-remove-all" class="btn">Remove All</a>
  </p>

  <form class="form-inline emoroco-entry" data-id="0">
    <input class="emoroco-text" type="text" />
    <a class="btn emoroco-focus">Focus</a>
    <a class="btn emoroco-remove">Remove</a>
  </form>
</div>