<div class="control-group">
  <h3 class="group-header">i</h3>

  <p>
    <a id="controls-show-hide-i" class="btn">Show i</a>
    <a id="controls-fade-i" class="btn">Fade i In</a>
  </p>

  <h3 class="group-header">Attention</h3>

  <p>
    <a class="btn animate-control" data-target="i" data-animation="swing" >Swing i</a>
    <a class="btn animate-control" data-target="i" data-animation="bounce">Bounce i</a>
    <a class="btn animate-control" data-target="i" data-animation="wiggle">Wiggle i</a>
    <a class="btn animate-control" data-target="i" data-animation="spin"  >Spin i</a>
    <a class="btn animate-control" data-target="i" data-animation="spinY" >SpinY i</a>
    <a class="btn animate-control" data-target="i" data-animation="pulse" >Pulse i</a>
  </p>
  <p>
    <a class="btn toggle-class" data-target="i" data-animation="colourChase">i Colour Chase</a>
  </p>

  <h3 class="group-header">Animate In</h3>

  <p>
    <a class="btn animate-control" data-target="i" data-animation="growIn"       >Grow In i</a>
    <a class="btn animate-control" data-target="i" data-animation="growSpinIn"   >Grow Spin In i</a>
    <a class="btn animate-control" data-target="i" data-animation="flipInY"      >Flip In i</a>
    <a class="btn animate-control" data-target="i" data-animation="bounceInLeft" >Bounce In i</a>
    <a class="btn animate-control" data-target="i" data-animation="bounceInUp"   >Bounce Up i</a>
    <a class="btn animate-control" data-target="i" data-animation="rotateInDownLeft" >Rotate In i</a>
    <a class="btn animate-control" data-target="i" data-animation="rollIn"       >Roll In i</a>
    <a class="btn animate-control" data-target="i" data-animation="flipUp"       >Flip Up i</a>
    <a class="btn disabled" data-target="i" data-animation="blurIn"       >Blur In i</a>
  </p>

  <h3 class="group-header">Animate Out</h3>

  <p>
    <a class="btn animate-control" data-target="i" data-animation="shrinkOut"      data-after="hide">Shrink Out i</a>
    <a class="btn animate-control" data-target="i" data-animation="shrinkSpinOut"  data-after="hide">Shrink Spin Out i</a>
    <a class="btn animate-control" data-target="i" data-animation="flipOutY"       data-after="hide">Flip Out i</a>
    <a class="btn animate-control" data-target="i" data-animation="bounceOutRight" data-after="hide">Bounce Out i</a>
    <a class="btn animate-control" data-target="i" data-animation="bounceOutDown"  data-after="hide">Bounce Down i</a>
    <a class="btn animate-control" data-target="i" data-animation="rotateOutUpRight" data-after="hide" >Rotate Out i</a>
    <a class="btn animate-control" data-target="i" data-animation="rollOut"        data-after="hide">Roll Out i</a>
    <a class="btn animate-control" data-target="i" data-animation="flipDown"       data-after="hide">Flip Down i</a>
    <a class="btn disabled" data-target="i" data-animation="blurOut"        data-after="hide">Blur Out i</a>
    <a class="btn animate-control" data-target="i" data-animation="hinge"          data-after="hide">Hinge Out i</a>
  </p>
</div>