<div class="control-group">
  <h3 class="group-header">Image</h3>

  <form class="form-inline">
    <input id="image-input" type="text" />
    <a id="controls-show-hide-image" class="btn">Show Image</a>
    <a id="controls-fade-image" class="btn">Fade In Image</a>
    <span id="controls-image-loader"></span>
  </form>

  <p class="preset-images">
    <img src="../content/beach.jpg" />
    <img src="../content/CustomsEndowment.jpg" />
    <img src="../content/Daleks.png" />
  </p>
</div>