<div class="control-group" data-shortcut="<%= shortcut %>">
  <h3 class="group-header">Image</h3>

  <form class="form-inline">
    <input id="image-input" type="text" />
    <a id="controls-show-hide-image" class="btn">Show Image</a>
    <a id="controls-fade-image" class="btn">Fade In Image</a>
    <span id="controls-image-loader"></span>

    <br />
    <input id="image-file" type="file" />
  </form>

  <p class="preset-images">
    <a data-shortcut="q"><img src="content/beach.jpg"            /></a>
    <a data-shortcut="w"><img src="content/CustomsEndowment.jpg" /></a>
    <a data-shortcut="e"><img src="content/Daleks.png"           /></a>
  </p>
</div>