<div class="states">
  <input type="hidden" id="i-state" value="hidden">
  <input type="hidden" id="text-state" value="hidden">
  <input type="hidden" id="image-state" value="hidden">
  <input type="hidden" id="video-state" value="hidden">
  <input type="hidden" id="video-play-state" value="hidden">
</div>