<div class="control-group">
  <h3 class="group-header">Text</h3>

  <form class="form-inline">
    <input id="text-input" type="text" />

    <a id="controls-show-hide-text" class="btn">Show Text</a>
    <a id="controls-fade-text" class="btn">Fade In Text</a>

    <input id="text-color" type="color" value="#ffffff" class="input-small" />
  </form>

  <h3 class="group-header">Presets</h3>

  <p class="preset-text">
    <a class="btn">Customs Endowment</a>
    <a class="btn">Da Do Run Run</a>
    <a class="btn">EmoRoCo</a>
    <a class="btn">Freeze</a>
    <a class="btn">Space Jump</a>
  </p>

  <h3 class="group-header">Animate In</h3>

  <p>
    <a class="btn animate-control" data-target="text" data-animation="growIn"        data-by-letter="true">Grow In By Letter</a>
    <a class="btn animate-control" data-target="text" data-animation="fadeIn"        data-by-letter="true">Fade In By Letter</a>
    <a class="btn animate-control" data-target="text" data-animation="flipInY"       data-by-letter="true">Flip In By Letter</a>
    <a class="btn animate-control" data-target="text" data-animation="flipUp"        data-by-letter="true">Flip Up By Letter</a>
    <a class="btn animate-control" data-target="text" data-animation="bounceInRight" data-by-letter="true">Bounce In By Letter</a>
    <a class="btn animate-control" data-target="text" data-animation="rollIn"        data-by-letter="true">Roll In By Letter</a>
    <a class="btn animate-control" data-target="text" data-animation="blurIn"        data-by-letter="true">Blur In By Letter</a>
  </p>

  <h3 class="group-header">Animate Out</h3>

  <p>
    <a class="btn animate-control" data-target="text" data-animation="shrinkOut"     data-after="hide" data-by-letter="true">Shrink Out By Letter</a>
    <a class="btn animate-control" data-target="text" data-animation="fadeOut"       data-after="hide" data-by-letter="true">Fade Out By Letter</a>
    <a class="btn animate-control" data-target="text" data-animation="flipOutY"      data-after="hide" data-by-letter="true">Flip Out By Letter</a>
    <a class="btn animate-control" data-target="text" data-animation="flipDown"      data-after="hide" data-by-letter="true">Flip Down By Letter</a>
    <a class="btn animate-control" data-target="text" data-animation="bounceOutLeft" data-after="hide" data-by-letter="true">Bounce Out By Letter</a>
    <a class="btn animate-control" data-target="text" data-animation="rollOut"       data-after="hide" data-by-letter="true">Roll Out By Letter</a>
    <a class="btn animate-control" data-target="text" data-animation="blurOut"       data-after="hide" data-by-letter="true">Blur Out By Letter</a>
  </p>
</div>