<div class="control-group" data-shortcut="<%= shortcut %>">
  <h3 class="group-header">Text</h3>

  <form class="form-inline">
    <input id="text-input" class="disable-shortcuts" type="text" autocomplete="off" />

    <a id="controls-show-hide-text" class="btn">Show Text</a>
    <a id="controls-fade-text" class="btn">Fade In Text</a>

    <a id="controls-spellcheck-text" class="btn">Spellcheck</a>

    <input id="text-color" type="color" value="#ffffff" class="input-small" />
  </form>

  <h3 class="group-header">Animate In</h3>

  <p>
    <a class="btn animate-control" data-shortcut="a" data-target="text" data-animation="growIn"        data-by-letter="true">Grow In By Letter</a>
    <a class="btn animate-control" data-shortcut="s" data-target="text" data-animation="fadeIn"        data-by-letter="true">Fade In By Letter</a>
    <a class="btn animate-control" data-shortcut="d" data-target="text" data-animation="flipInY"       data-by-letter="true">Flip In By Letter</a>
    <a class="btn animate-control" data-shortcut="f" data-target="text" data-animation="flipUp"        data-by-letter="true">Flip Up By Letter</a>
    <a class="btn animate-control" data-shortcut="g" data-target="text" data-animation="bounceInRight" data-by-letter="true">Bounce In By Letter</a>
    <a class="btn animate-control" data-shortcut="h" data-target="text" data-animation="rollIn"        data-by-letter="true">Roll In By Letter</a>
    <a class="btn animate-control" data-shortcut="j" data-target="text" data-animation="blurIn"        data-by-letter="true">Blur In By Letter</a>
  </p>

  <h3 class="group-header">Animate Out</h3>

  <p>
    <a class="btn animate-control" data-shortcut="z" data-target="text" data-animation="shrinkOut"     data-after="hide" data-by-letter="true">Shrink Out By Letter</a>
    <a class="btn animate-control" data-shortcut="x" data-target="text" data-animation="fadeOut"       data-after="hide" data-by-letter="true">Fade Out By Letter</a>
    <a class="btn animate-control" data-shortcut="c" data-target="text" data-animation="flipOutY"      data-after="hide" data-by-letter="true">Flip Out By Letter</a>
    <a class="btn animate-control" data-shortcut="v" data-target="text" data-animation="flipDown"      data-after="hide" data-by-letter="true">Flip Down By Letter</a>
    <a class="btn animate-control" data-shortcut="b" data-target="text" data-animation="bounceOutLeft" data-after="hide" data-by-letter="true">Bounce Out By Letter</a>
    <a class="btn animate-control" data-shortcut="n" data-target="text" data-animation="rollOut"       data-after="hide" data-by-letter="true">Roll Out By Letter</a>
    <a class="btn animate-control" data-shortcut="m" data-target="text" data-animation="blurOut"       data-after="hide" data-by-letter="true">Blur Out By Letter</a>
  </p>
</div>