<div class="control-group">
  <h3 class="group-header">Video</h3>

  <form class="form-inline">
    <input id="video-input" type="text" />
    <a id="controls-show-hide-video" class="btn">Show Video</a>
    <a id="controls-fade-video" class="btn">Fade In Video</a>
    <a id="controls-play-video" class="btn">Play Video</a>
    <a id="controls-restart-video" class="btn">Restart Video</a>
    <span id="controls-video-loader"></span>

    <br />
    <input id="video-file" type="file" />
  </form>

  <p>
    <a id="controls-show-play-video" class="btn">Show and Play Video</a>
    <a id="controls-hide-restart-video" class="btn">Hide and Restart Video</a>
  </p>

  <p class="preset-videos">
    <video src="content/Vortex.mp4"></video>
    <video src="content/NewsNight.mp4"></video>
    <video src="content/QuestionTime.mp4"></video>
    <video src="content/bbcnews.webm"></video>
    <video src="content/itvnews.webm"></video>
  </p>
</div>