<!DOCTYPE html>
<html>
  <head>
    <title>ImpView Display</title>

    <%= stylesheet_link_tag 'display' %>

    <%= javascript_include_tag 'lib/jquery-1.9.1.min' %>
    <%= javascript_include_tag 'display' %>
  </head>

  <body>
    <div id="loader">
      ImpView is loading...
    </div>

    <div class="content">
      <div class="center video">
        <video id="video" style="display: none"></video>
      </div>
    </div>

    <div class="content">
      <div class="center img">
        <div id="image" style="display: none"></div>
      </div>
    </div>

    <div class="content">
      <div class="center img">
        <span id="i" style="display: none"></img>
      </div>
    </div>

    <div class="content">
      <div>
        <div id="credits" style="display: none"></div>
      </div>
    </div>

    <div class="content">
      <div class="center">
        <div id="text" style="display: none"></div>
      </div>
    </div>

    <div class="content">
      <div class="center">
        <ul id="alphabet" class="alphabet initial animate">
          <li>A</li>
          <li>B</li>
          <li>C</li>
          <li>D</li>
          <li>E</li>
          <li>F</li>
          <li>G</li>
          <li>H</li>
          <li>I</li>
          <li>J</li>
          <li>K</li>
          <li>L</li>
          <li>M</li>
          <li>N</li>
          <li>O</li>
          <li>P</li>
          <li>Q</li>
          <li>R</li>
          <li>S</li>
          <li>T</li>
          <li>U</li>
          <li>V</li>
          <li>W</li>
          <li>X</li>
          <li>Y</li>
          <li>Z</li>
        </ul>
      </div>
    </div>
  </body>
</html>