
html {
  /* for chrome app */
  overflow-y: scroll;
}

body:before {
  position: absolute;
  left: 0px;
  top: 0px;

  content: 'ImpView';
  font-size: 32px;
  margin-top: -25px;
  padding-top: 50px;
  padding-left: 90px;

  background-image: url('../content/i.png');
  background-size: 90px 100px;
  background-repeat: no-repeat;
  background-position:left;

  height: 100px;
  width: 90px;

  z-index: -1;
}

body {
  margin-top: 100px;

  /*
   * Put a load of blackspace on the bottom. Largely there to allow
   * typeahead to play nice.
   */
  margin-bottom: 200px;
}

.modal-header h3 {
  color: #333333;
}

.modal-body {
  color: #333333;
}

.control-group {
  border: #ffffff 1px solid;
  border-radius: 5px;

  padding: 10px;
}

.control-group > .btn, .control-group p .btn {
  margin-bottom: 5px;
}

.control-group p .btn {
  width: 90px;
  height: 2.8em;
}

.control-group.active {
  background-color: lighten(#000000, 20);
}

#quick-controls {
  position: fixed;

  background: #000;

  right: 10px;
  top: 10px;
}

#quick-controls .btn {
  display: block;
}

.preset-images img, .preset-videos video {
  width: 100px;
}